*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Verified Icon*/

.verified-icon{
    width: 15px;
    height: 15px;
    background-image: url(./../icon/verified-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 110px;
    margin-top: -17px;
}

/*--------------*/

/* Loading */

.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    overflow: hidden;
}

.loading .loading-icon{
    margin-top: 15%;
    width: 200px;
    height: 200px;
    background-image: url(./../background/CreepyPessimisticAlbino-max-1mb.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-loading{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 2;
    overflow: hidden;
    opacity: .5;
}

.display-post-loading{
    display: none;
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #ffffffff;
    z-index: 3;
    top: 30%;
    left: 35%;
    border-radius: 8px;
    -webkit-box-shadow: 4px 3px 41px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 41px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 41px 0px rgba(0,0,0,0.75);
}

.display-post-loading .send-loading-gif{
    width: 200px;
    height: 200px;
    background-image: url(./../background/Barline-Loading-Images-1.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------*/

/* Circle User - Local */
#circle-user{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#circle-user:hover{
    transition: linear .3s;
    cursor: pointer;
}

.circle-user:hover{
    transition: linear .3s;
    cursor: pointer;
}
/* ---------------------*/

.left-aside{
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: ffffffff;
    border-right-style: solid;
    border-left: #000000;
    border-right-width: .5px;
    background-color: #ffffffff;
}

.timeline{
    width: 50%;
    height: 100%;
    background-color: ffffffff;
    position: absolute;
    left: 25%;
    z-index: -1;
}

.right-aside{
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: #ffffffff;
    right: 0;
    background-color: ffffffff;
    border-left-style: solid;
    border-right-color: #000000;
    border-left-width: .5px;
}

/* Post Area */

.post-area{
    width: 100%;
    height: auto;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-width: .5px;
}

.timeline .post-area h2{
    padding: 1rem;
    font-weight: bolder;
}

.timeline .post-area .circle-user{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #4e4e4e;
    border-radius: 100%;
    margin: 1rem;
    transform: translate(0rem, 1rem);
}

.timeline .post-area .post-text{
    margin-top: 2rem;
    margin-left: 15%;
    width: 65%;
    height: 60px;
    border-style: none;
    padding: .5rem;
    font-size: 12pt;
    font-weight: bolder;
    flex-wrap: nowrap;
}

.timeline .post-area .post-text:focus{
    border-style: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}
        .hr-text-post{
            margin-left: 15%;
            margin-right: 25%;
            margin-bottom: 2rem;
        }

.timeline .post-area .post-btn{
    width: 100px;
    height: 30px;
    background-color: #0267c1;
    color: #ffffffff;
    font-weight: bolder;
    border-radius: 30px;
    margin-left: 70%;
    margin-bottom: 1rem;

}

.timeline .post-area .post-btn:hover{
    transition: linear .3s;
    cursor: pointer;
    background-color: #4b9be3;
}

.timeline .post-area .post-btn span{
    position: absolute;
    transform: translate(20px, 6px);
}

.timeline .post-area .post-btn .send-icon{
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(./../icon/send-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(75px, 8px);
}

.timeline .post-area .preview-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    width: 100px;
    height: 100px;
    background-color: #000000;
    border-radius: 8px;
    margin-left: 10rem;
    margin-top: -4rem;
    margin-bottom: 1rem;
    padding-top: 2px;
}

.timeline .post-area .preview-image .cancel-img{
    color: #ffffffff;
    margin-left: 85%;
    -webkit-box-shadow: 4px 3px 41px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 41px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 41px 0px rgba(0,0,0,0.75);
}

.timeline .post-area .preview-image .cancel-img:hover{
    transition: linear .3s;
    cursor: pointer;
}

.timeline .post-area .up-image{
    position: absolute;
    background-image: url(./../icon/image-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    padding: 15px;
    transform: translate(100px, -60px);
}

.timeline .post-area .up-image:hover{
    transition: linear .3s;
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}
    .timeline .post-area .up-post-picture{
        display: none; 
    }

        /* Posts */
        .user-post{
            width: 100%;
            height: auto;
            border-bottom-style: solid;
            border-bottom-color: #000000;
            border-width: .5px;
            overflow: hidden;
        }

        .user-post .circle-user{
            width: 60px;
            height: 60px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #4e4e4e;
            border-radius: 100%;
            margin: 1rem;
        }

        .user-post .ul-post{
            list-style: none;
            display: inline-flex;
        }

        .user-post .ul-user{
            list-style: none;
            margin-top: 1.3rem;
        }

        .user-post .ul-user .your-name{
            font-weight: bolder;
        }

        .user-post .ul-user .your-user{
            font-size: 9pt;
            font-weight: bolder;
            color: #4e4e4e;
        }

        .user-post .text-posted{
            margin: 0rem 1rem .5rem 1rem;
            text-align: justify;
            overflow-x: hidden;
        }

        .user-post .img-posted{
            width: 90%;
            max-width: 300px;
            object-fit: cover;
            border-radius: 9px;
            margin-bottom: 1rem;
        }

        .user-post .time-post{
            width: 100%;
            margin: .5rem 0rem .5rem 78%;
            font-weight: bolder;
            color: #4e4e4e;
            font-size: 10pt;
        }


/* Aside Left */

.left-aside ul{
    list-style: none;
    text-align: left;
    font-size: 16pt;
    font-weight: bolder;
}

.left-aside ul li .home-icon{
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url(./../icon/home-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-4px);
}

.left-aside ul li .profile-icon{
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url(./../icon/profile-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-4px);
}

.left-aside ul li .game-icon{
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url(./../icon/game-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-4px);
}

.left-aside ul li{
    background-color: #0267c1;
    color: white;
    margin: 2rem 1rem .5rem 2rem;
    width: 200px;
    height: 30px;
    padding: 1rem;
    border-radius: 30px;
}

.left-aside ul li:hover{
    transition: linear .3s;
    cursor: pointer;
    background-color: #4b9be3;
}

.left-aside ul li span{
    margin-left: 3rem;
}

.profile-card{
    position: absolute;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    border-style: solid;
    border-width: .5px;
    border-color: #000000;
    padding: 1rem;
    margin: 2rem;
    bottom: 0;
}

.profile-card:hover{
    cursor: pointer;
    transition: linear .3s;
    background-color: rgb(255, 184, 184);
}

.profile-card .circle-user{
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: #4e4e4e;
    border-radius: 100%;
    transform: translate(-4px, -10px);
}

.profile-card .your-name{
    position: absolute;
    transform: translate(55px, -2px);
    font-weight: bolder;
}

.profile-card .your-user{
    position: absolute;
    transform: translate(55px, 16px);
    font-weight: bolder;
    font-size: 10pt;
    color: #4e4e4e;
}

/* Right Aside */

.right-aside h4{
    text-align: left;
    margin-left: 3rem;
    margin-top: 1rem;
}

.right-aside .search-users{
    margin: .5rem;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    padding-left: 3rem;
    border-style: solid;
}

.search-btn{
    width: 100px;
    height: 30px;
    background-color: #0267c1;
    color: #ffffffff;
    font-weight: bolder;
    border-radius: 30px;
    
}

.search-btn:hover{
    transition: linear .3s;
    background-color: #4b9be3;
    cursor: pointer;
}

.search-btn span{
    position: absolute;
    font-size: 10pt;
    transform: translate(-32px, 6px);
}
    /*Users*/
    .users-list{
        margin-top: 2rem;
        width: 100%;
        height: 280px;
        list-style: none;
        /*overflow-y: scroll;*/
    }

    .users-list .user-box{
        width: 100%;
        height: 70px;
        border-bottom-color: #000000;
        border-bottom-style: solid;
        border-width: .1px;
    }

    .users-list .user-box:hover{
        cursor: pointer;
        transition: linear .3s;
        background-color: rgb(216, 216, 216);
    }

    .users-list .user-box .elements-box{
        list-style: none;
        display: inline-flex;
    }

    .users-list .user-box .elements-box .circle-user{
        width: 55px;
        height: 55px;
        border-radius: 100%;
        background-color: #4e4e4e;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: .4rem 0rem 0rem .6rem;
    }

    .users-list .user-box .elements-box li .user-name-box{
        list-style: none;
        margin-left: .5rem;
        margin-top: .5rem;
    }


    .users-list .user-box .elements-box li .user-name-box .name-user{
        font-weight: bolder;
        font-size: 12pt;
    }

    .users-list .user-box .elements-box li .user-name-box .name-user .verified-icon{
        position: relative;
        margin: 0;
        padding: 10px;
        width: 10px;
        height: 10px;
        background-size: 15px;
    }

    .users-list .user-box .elements-box li .user-name-box .username{
        font-weight: bolder;
        color: #4e4e4e;
        font-size: 9pt;
    }

    .users-list .user-box .elements-box li .user-name-box .description{
        width: 118px;
        height: 15px;
        font-size: 10pt;
        overflow: hidden;
        margin-top: 4px;
    }